html {
    background-color: black;
    color: white;
}

body {
    margin: 0;
    text-align: center;
}

.play {
    border-radius: 50%;
    cursor: pointer;
    padding: 8px;
    border: 2px solid white;
    background-color: yellow;
}

.play:hover{
    background-color: black;
}

p {
    font-size: larger;
    margin: 10px 0;
}

.Res-button, .playPauseBtn {
    padding: 10px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: red;
    color: white;
}

.Res-button:hover, .playPauseBtn:hover{
    background-color: green;
    
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.selection img{
    width: 60px;
    height: 60px;
}